body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom, #630966, rgb(0, 23, 153));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container{
    max-width: 1000px;
    width: 100%;
    background: linear-gradient(to bottom, #630966, rgb(0, 23, 153));
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.header-section{
    text-align: center;
    margin-bottom: 50px;
}

.header-section h1{
    font-size: 3em;
    color: #ffffff;
    line-height: 1.2;
    margin-bottom: 20px;
}

/* Estilos para la cuadrícula de imágenes */
.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    margin-top: 50px;
    padding: 0 10px;
}

.image-grid a {
    display: block;
    border-radius: 16px;
    border-color: #614040;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(63, 23, 23, 0.08);
    transition: transform 0.2s;
}

.image-grid a:hover {
    transform: scale(1.05);
}

.image-grid img {
    width: 100%;
    display: block;
}